openapi: 3.0.3
info:
  title: The SpatioTemporal Asset Catalog API - Fields
  description: Adds parameter to control which fields are returned in the response.
  version: 1.0.0-beta.1
paths: {}
components:
  parameters:
    fields:
      name: fields
      x-stac-api-fragment: fields
      in: query
      description: |-
        **Optional Extension:** Fields

        Determines the shape of the features in the response
      required: false
      schema:
        type: string
        example: 'id,type,-geometry,bbox,properties,-links,-assets'
      style: form
      explode: false
  schemas:
    searchBody:
      type: object
      x-stac-api-fragment: fields
      description: |-
        **Optional Extension:** Fields

        Determines the shape of the features in the response
      properties:
        fields:
          $ref: '#/components/schemas/fields'
    fields:
      description: |
        The include and exclude members specify an array of
        property names that are either included or excluded
        from the result, respectively. If both include and
        exclude are specified, include takes precedence.
        Values should include the full JSON path of the property.
      type: object
      properties:
        include:
          type: array
          items:
            type: string
        exclude:
          type: array
          items:
            type: string
      example:
        include:
          - id
          - 'properties.eo:cloud_cover'
        exclude:
          - geometry
          - properties.datetime
