openapi: 3.0.3
info:
  title: The SpatioTemporal Asset Catalog API - Context
  description: Adds search related metadata (context) to GeoJSON Responses.
  version: 1.0.0-beta.1
paths: {}
components:
  schemas:
    itemCollection:
      type: object
      description: |-
        **Optional Extension:** Context

        Augments lists of resources with the number of returned and matches resource and the given limit for the request.
      x-stac-api-fragment: context
      properties:
        'context':
          type: object
          required:
            - returned
          properties:
            returned:
              type: integer
              minimum: 0
              example: 1
            limit:
              type: integer
              nullable: true
              minimum: 0
              example: 5
            matched:
              type: integer
              minimum: 0
              example: 314159
