openapi: 3.0.3
info:
  title: The SpatioTemporal Asset Catalog API - Item Search
  version: 1.0.0-beta.1
  description: >-
    This is an OpenAPI definition of the SpatioTemporal Asset Catalog API Item Search
    specification.
  contact:
    name: STAC Specification
    url: 'http://stacspec.org'
  license:
    name: Apache License 2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0'
tags:
  - name: Version
    description: This version API extension defines the API resources and semantics for creating and accessing versioned records.
paths:
  '/collections/{collectionId}/versions':
    get:
      summary: returns a list of links for a versioned collection
      description: returns a list of links for a versioned collection
      tags:
        - Version
      operationId: getCollectionVersions
      parameters:
        - $ref: '../../openapi.yaml#/components/parameters/collectionId'
      responses:
        '200':
          description: A catalog JSON definition the returns list of links of a collection versions
          content:
            application/json:
              schema:
                $ref: '../../../core/commons.yaml#/components/schemas/catalog'
  '/collections/{collectionId}/versions/{versionId}':
    get:
      summary: returns the requested version of a collection
      description: returns the requested version of a collection
      tags:
        - Version
      operationId: getCollectionVersion
      parameters:
        - $ref: '../../openapi.yaml#/components/parameters/collectionId'
        - $ref: '#/components/parameters/versionId'
      responses:
        '200':
          $ref: '../../openapi.yaml#/components/responses/Collections'
  '/collections/{collectionId}/items/{featureId}/versions':
    get:
      summary: returns a list of links for a versioned item
      description: returns a list of links for a versioned item
      tags:
        - Version
      operationId: getItemVersions
      parameters:
        - $ref: '../../openapi.yaml#/components/parameters/collectionId'
        - $ref: '../../openapi.yaml#/components/parameters/featureId'
      responses:
        '200':
          description: A catalog JSON definition the returns list of links of an item versions
          content:
            application/json:
              schema:
                $ref: '../../../core/commons.yaml#/components/schemas/catalog'
  '/collections/{collectionId}/items/{featureId}/versions/{versionId}':
    get:
      summary: returns the requested version of an item
      description: returns the requested version of an item
      tags:
        - Version
      operationId: getItemVersion
      parameters:
        - $ref: '../../openapi.yaml#/components/parameters/collectionId'
        - $ref: '../../openapi.yaml#/components/parameters/featureId'
        - $ref: '#/components/parameters/versionId'
      responses:
        '200':
          $ref: '../../openapi.yaml#/components/responses/Collections'
components:
  parameters:
    versionId:
      name: versionId
      in: path
      description: local identifier of a version
      required: true
      schema:
        type: string